{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Musician Name</th>
                <th scope="col">Email</th>
                <th scope="col">Album Rating</th>
                <th scope="col">Instrument Type</th>
                <th scope="col">Album Name</th>
                <th scope="col">Release Date</th>
                {% if user.is_authenticated %}
                <th scope="col">Actions</th>
                {% endif%}
            </tr>
        </thead>
        <tbody>
            {% for albumData in albums %}
                <tr>
                <th>{{albumData.id}}</th>
                {% if user.is_authenticated %}
                <td> 
                    <a href=" {% url  'edit_musician' albumData.Musician.id %} ">  
                    {{albumData.Musician.first_name}} 
                    {{albumData.Musician.last_name}}
                    </a>
                </td>
                {% else %}
                <td>   
                    {{albumData.Musician.first_name}} 
                    {{albumData.Musician.last_name}}
                </td>
                {% endif %}
                <td> {{albumData.Musician.email}} </td>
                <td> {{albumData.rating}} </td>
                <th> {{albumData.Musician.instrument}} </th>
                <td> {{albumData.album_name}} </td>
                <td> {{albumData.album_release_date}} </td>

                {% if user.is_authenticated %}
                <td> 
                    <a href="{% url 'edit_album' albumData.id %}">Edit</a>  
                    <a href="{% url 'delete_album' albumData.id %}">Delete</a> 
                </td>
                {% endif%}
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock content %}